{% extends "base.twig" %}
{% block title %}Import Planet{% endblock %}
{% block head %}
    <style>
        .page-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .page-container form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        label {
            display: inline-block;
            width: 100px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="page-container">
        <form>
            <div>
                <label for="system">Select system: </label>
                <select id="system" name="system" style="width: 200px">
                    <option value="" selected>Loading...</option>
                </select>
            </div>
            <div class="planet-block" style="display: none">
                <label for="planet">Select planet: </label>
                <select id="planet" name="planet" style="width: 200px"></select>
            </div>
            <div class="confirm" style="display: none">
                <button id="confirmButton">Import planet</button>
            </div>
        </form>
    </div>

    <script type="application/javascript" defer>
        const systemSelect = $('select#system');
        const planetSelect = $('select#planet');
        systemSelect.select2();

        fetch('/api/swc/systems').then(async response => {
            const systems = await response.json();
            systems.sort((a, b) => a.name.localeCompare(b.name));
            for(const system of systems) {
                systemSelect.append(new Option(system.name, system.uid, false, false));
            }

            systemSelect.find('option[value=""]').attr('disabled', true).text('Select...');
            systemSelect.select2()

            systemSelect.on('change', e => loadPlanetsSelect(e.target.value))
        })

        $(document).on("select2:open", () => {
            document.querySelector(".select2-container--open .select2-search__field").focus()
        })

        function loadPlanetsSelect(systemUid) {
            planetSelect.html('<option value="" selected>Loading...</option>');
            planetSelect.select2();

            document.querySelector('.confirm').style.display = 'none';
            document.querySelector('.planet-block').style.display = '';

            fetch(`/api/swc/systems/${systemUid}/planets`).then(async response => {
                const planets = await response.json();
                planets.sort((a, b) => a.name.localeCompare(b.name));
                for(const planet of planets) {
                    planetSelect.append(new Option(planet.name, planet.uid, false, false));
                }

                planetSelect.find('option[value=""]').attr('disabled', true).text("Select...");
                planetSelect.select2();

                planetSelect.on('change', function() {
                    document.querySelector('.confirm').style.display = '';
                })
            })
        }

        const confirmButton = document.querySelector('button#confirmButton')
        function importPlanet(e) {
            e.preventDefault();

            document.querySelector('button#confirmButton').innerText = "Processing... please wait"
            systemSelect.attr('disabled', true);
            planetSelect.attr('disabled', true);
            confirmButton.removeEventListener('click', importPlanet, true);

            const planetUid = document.querySelector('select#planet').value;
            fetch(`/api/swc/planets/${planetUid}`).then(async (response) => {
                const planet = await response.json();
                const requestBody = {name: planet.name, system: planet.system, size: planet.size, grid: planet.grid};

                fetch('/api/data/planets', { method: 'POST', body: JSON.stringify(requestBody), headers: { 'Content-Type': 'application/json'}})
                    .then(async addPlanetResponse => {
                        console.log(addPlanetResponse.status);
                        const json = addPlanetResponse.json();
                        console.log(json);
                })
            })
        }

        confirmButton.addEventListener('click', importPlanet);
    </script>
{% endblock %}