body {
    background: #000f19;
    color: #fff;
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;
    font-size: 14px;

    min-height: 100vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "navigation"
    "content";
}

.navigation {
    grid-area: navigation;
    background: #003750;
    border: solid #195069;
    border-width: 1px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.navigation__label, .navigation__button {
    padding: 0 8px;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation__button {
    transition: background-color .15s ease-in;
}

.navigation__button:hover {
    background: #0f465f;
}

.navigation__button > span {

}

.content {
    grid-area: content;
}