<!DOCTYPE html>
<html lang="en-GB">
<head>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <script type="application/javascript" src="/assets/libs/jquery-3.6.4.min.js"></script>
    <title>{% block title %}{% endblock %} - SWCombine Prospecting Results</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navigation">
        <div class="navigation__label">
            <span>SWCombine Prospecting Results</span>
        </div>
        <a class="navigation__button" href="/planets">
            <span>Browse Planets</span>
        </a>
        <a class="navigation__button" href="/add-planet">
            <span>Add Planet</span>
        </a>
    </nav>
    <div class="content">
            {% block content %}{% endblock %}
    </div>
</body>
</html>