<!DOCTYPE html>
<html lang="en-GB">
<head>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/select2-4.0.13.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-modal-0.9.1.min.css">
    <script type="application/javascript" src="/assets/libs/jquery-3.6.4.min.js"></script>
    <script type="application/javascript" src="/assets/libs/select2-4.0.13.full.min.js"></script>
    <script type="application/javascript" src="/assets/libs/jquery-modal-0.9.1.min.js"></script>
    <title>{% block title %}{% endblock %} - SWCombine Prospecting Results</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navigation">
        <div class="navigation__label">
            <span>SWCombine Prospecting Results</span>
        </div>
        <a class="navigation__button" href="/planets">
            <span>Browse Planets</span>
        </a>
        <div class="navigation__label dropdown">
            Add Planet
            <div class="dropdown__menu">
                <a class="navigation__button" href="/add-planet/import">Import from SWC</a>
                <a class="navigation__button" href="/add-planet">Add manually</a>
            </div>
        </div>
    </nav>
    <div class="content">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>