<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <script type="application/javascript" src="/assets/libs/jquery-3.6.4.min.js"></script>
    <title>{% block title %}{% endblock %} - SWCombine Prospecting Results</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="content">
            {% block content %}{% endblock %}
    </div>
</body>
</html>